@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --shadow-ambient: 0px 3px 6px rgba(23,23,23,0.06);
  --shadow-standard: 0px 15px 35px rgba(23,23,23,0.08);
  --shadow-elevated: 0px 30px 45px -30px rgba(50,50,93,0.25), 0px 18px 36px -18px rgba(0,0,0,0.1);
  --shadow-deep: 0px 14px 21px -14px rgba(3,3,39,0.25), 0px 8px 17px -8px rgba(0,0,0,0.1);
}

:root {
  --radius: 6px;
  --background: #ffffff;
  --foreground: #061b31;
  --card: #ffffff;
  --card-foreground: #061b31;
  --popover: #ffffff;
  --popover-foreground: #061b31;
  --primary: #533afd;
  --primary-foreground: #ffffff;
  --secondary: #f6f9fc;
  --secondary-foreground: #061b31;
  --muted: #f6f9fc;
  --muted-foreground: #64748d;
  --accent: #f6f9fc;
  --accent-foreground: #061b31;
  --destructive: #ea2261;
  --destructive-foreground: #ffffff;
  --border: #e5edf5;
  --input: #d4dce8;
  --ring: #533afd;
}
